$text-color: #000;

$footer-height: 1.5rem;

$link-color: #3498DB;
$link-color-visited: #3A539B;

$post-time-text-color: lighten($text-color,70%);

$serif-fonts: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$sans-serif-fonts: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

.hide-text {
    &>span {
        display: none;
    }
}

html {
    height: 100%;
}
body {
    font-family: $serif-fonts;
    height: 100%;
    margin: 0;
}

h1 { 
    font-size: 2.5em;
    margin-bottom: 0.5rem; 
}
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    height: $footer-height;
    margin: 0;
    padding: 0;
}

a {
    &:link {
        color: $link-color;
    }
    &:visited {
        color: $link-color-visited;
    }
    &:hover {
        color: darken( $link-color, 15% );
    }
    &:active {
        color: lighten( $link-color, 15% );
    }
}

article {

    .post-time {
        margin-bottom: .5rem;
        color: $post-time-text-color;
    }
    .post-preview, .post-text {
        margin: 1.5rem 0;
        line-height: 1.5;
        font-size: 110%;
    }

}

pre, code {
    font-family: $monospace-fonts;
    background-color: lighten($text-color, 95%);
    border-radius: .25rem;
}

pre {
    padding: .5rem;
}

code {
    padding: .1rem;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding-bottom: $footer-height;
    padding-top: .5rem;
    box-sizing: border-box;
    .main-header {
        font-family: $sans-serif-fonts;
        .photo {
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }
        .profiles {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            padding: 0;
            .profile-item {
                display: inline-block;
                font-size: 1.5rem;
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: $link-color;
                    }
                }
            }
        }
        .menu {
            text-align: right;
            a {
                padding: .25rem;
                font-size: 1.1rem;
            }
        }
    }
}