<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title | default: "Blog about computers and programming" }}</title>

    <meta name="author" content="Dmitriy Konovalov aka {{ site.github.owner_name }}">
    <meta name="description" content="{{ site.description | default: 'Dmitriy Konovalov is writing about object-oriented programming, C#, programming philosophy' }}">
    <meta name="keywords" content="{{ site.keywords | default: 'dmitriy konovalov blog, programming, C#'}}">

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="{{ '/asserts/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/asserts/css/blog.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header class="main-header">
        <img class="photo" alt="Dmitriy Konovalov aka {{ site.github.owner_name }}" src="/images/photo.jpg" >
        <ul class="profiles">
          <li class="profile-item"><a class="hide-text icon-twitter" href="https://twitter.com/dmitriy_v_k"><span>twitter</span></a></li>
          <li class="profile-item"><a class="hide-text icon-github-circled" href="http://stackoverflow.com/users/7629189/dmitriy-konovalov"><span>stackoverflow</span></a></li>
          <li class="profile-item"><a class="hide-text icon-stackoverflow" href="https://github.com/dmitriy-v-k"><span>github</span></a></li>
        </ul>
        <nav class="menu">
          <a href="/index.html">Home</a>
          <a href="/about-me.html">About</a>
        </nav>
      </header>
      <section class="main-content">
        {{ content }}
      </section>
      <footer>
        <small><a href="https://pages.github.com/">Hosted on GitHub Pages</a></small>
      </footer>
    </div>
  </body>
</html>