<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title | default: "Blog about computers and programming" }}</title>

    <meta name="author" content="Dmitriy Konovalov aka {{ site.github.owner_name }}">
    <meta name="description" content="{{ site.description | default: 'Dmitriy Konovalov is writing about object-oriented programming, C#, programming philosophy' }}">
    <meta name="keywords" content="{{ site.keywords | default: 'dmitriy konovalov blog, programming, C#'}}">

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: "Blog about computers and programming" }}</h1>
        <p>{{ site.description | default: 'Dmitriy Konovalov is writing about object-oriented programming, C#, programming philosophy' }}</p>
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
  </body>
</html>